mixin filter(users, statuses, options = { url: urlFor('filter') })
  - const url = _.get(options, 'url');
  form(action= url method= 'get')
    label(for=`creator`) Creator
      select.form-control(name="creator", id="creator")
        option(selected value= 0)= ''
        each user in users
          option(value= user.id)= user.fullName()
    label(for=`assignedTo`) Assigned to
      select.form-control(name="assignedTo", id="assignedTo")
        option(selected value= 0)= ''
        each user in users
          option(value= user.id)= user.fullName()
    label(for=`status`) Task status
      select.form-control(name="status", id="status")
        option(selected value= 0)= ''
        each status in statuses
          option(value= status.id)= status.name
    label= `Include tags:`
      input.form-control(name='tags' type='text' placeholder=`big, alpha, delta, bang`)
    input.btn.btn-primary(type="submit" value="Find")
