extends /layouts/application.pug

block content
  .container.w-60.mx-auto
    +formFor(f, { url: urlFor('editTask', f.object.id), method: 'patch' })
      +input(f, 'name')
      .form-group
        label(for="assignedTo") Assign to:
        select.form-control(name="form[assignedTo]", id="assignedTo")
          if !f.object.User.isSoftDeleted()
            option(selected value= f.object.User.id)= f.object.User.fullName()
          each user in users
            if user.id !== f.object.User.id && !user.isSoftDeleted()
              option(value= user.id)= user.fullName()
      .form-group
        label(for="description") Description
        textarea.form-control(name="form[description]", rows="8", id="description")
          = f.object.description
      .form-group
        label(for="status") Status
        select.form-control(name="form[status]", id="status")
          if !f.object.TaskStatus.isSoftDeleted() && f.object.TaskStatus.id !== 1
            option(selected value= f.object.TaskStatus.id)= f.object.TaskStatus.name
          if statuses.length == 1
            option(value= statuses[0].id)= statuses[0].name
          else
            - const statTail = statuses.slice(1)
            each status in statTail
              if status.id !== f.object.TaskStatus.id && !status.isSoftDeleted()
                option(value= status.id)= status.name
      .form-group
        input.btn.btn-success.mr-4(type="submit", value="Save")
        a.btn.btn-secondary.mr-4(href=urlFor('tasks')) Close
    +formFor(f, { url: urlFor('deleteTask', f.object.id), method: 'delete' })
      .pt-3
        p Danger zone
        .w-50.h-50.p-3(style="border: solid; border-color: red")
          input(class=`btn btn-danger` type=`submit` data-confirm="Are you sure?" value=`Delete task`)
