extends /layouts/application.pug

block content
  a.btn.btn-primary.mr-2(href=urlFor('tasks')) All tasks
  if isSignedIn()
    .container.mb-4.pl-0
      a.btn.btn-success.mr-2(href=urlFor('newTask')) New task
      a.btn.btn-primary.mr-2(href=urlFor('findMy')) My tasks
      a.btn.btn-info.float-right(href=urlFor('statuses')) Statuses
  +filter(cashedData.users, cashedData.statuses)
  table.table.table-stripped.bg-light
    thead
      tr
        th Task Name
        th Creator
        th Assigned to
        th Status
        th Tags
    tbody
      each task in tasks
        tr
          td
            a(href=urlFor('task', task.id))= task.name
          td
            +correctUserName(task.Creator)
          td
            +correctUserName(task.User)
          td
            +correctStatusName(task.TaskStatus)
          td
            each tag in task.Tags
              a.badge.badge-dark(href=urlFor('findByTag', tag.id))= tag.name
              =' '
