extends /layouts/application.pug

block content
  - const isDeleted = entity => entity.isSoftDeleted();
  if isSignedIn()
    .container.mb-4.pl-0
      a.btn.btn-primary.mr-2(href=urlFor('newTask')) New task
      a.btn.btn-primary.mr-2(href=urlFor('statuses')) Statuses
  table.table.table-stripped.bg-light
    thead
      tr
        th Task Name
        th Creator
        th Assigned to
        th Status
        th Tags
    tbody
      each task in tasks
        tr
          td
            a(href=urlFor('task', task.id))= task.name
          td
            +correctUserName(task.Creator)
          td
            +correctUserName(task.User)
          td= task.TaskStatus.name
          td
            each tag in task.Tags
              a.badge.badge-dark(href="#")= tag.name
              =' '
