extends /layouts/application.pug

block content
  if isSignedIn()
    .container.mb-4.pl-0
      a.btn.btn-primary(href=urlFor('newTask')) New task
  table.table.table-stripped.bg-light
    thead
      tr
        th Task Name
        th Creator
        th Assigned to
        th Status
        th Tags
    tbody
      each task in tasks
        tr
          td
            a(href=urlFor('task', task.id))= task.name
          td= task.Creator.fullName()
          if task.User
            td= task.User.fullName()
          else
            td= ' '
          td= task.TaskStatus.name
          td
            each tag in task.Tags
              a.badge.badge-dark(href="#")= tag.name
              =' '
